@model AmicaRent.DataAccess.viewCari

@{
    ViewBag.Title = "Cari Detay";
}

<div class="form-horizontal">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Cari</h3>
        </div>

        <dl class="dl-horizontal">
            <dt>
                Ad Soyad
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_AdSoyad)
            </dd>

            <dt>
                Uyruk
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CariUyruk_Adi)
            </dd>

            <dt>
                TCKN
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_IDNumber)
            </dd>

            <dt>
                Cinsiyet
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cinsiyet)
            </dd>

            <dt>
                Doğum Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_DogumTarihi)
            </dd>

            <dt>
                E Posta Adresi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_EpostaAdresi)
            </dd>

            <dt>
                Adres 1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_Adres1)
            </dd>

            <dt>
                Adres 2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_Adres2)
            </dd>

            <dt>
                Sehir
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CariSehir_Adi)
            </dd>

            <dt>
                Mobil Telefon
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_MobilTelefon)
            </dd>

            <dt>
                Lokal Telefon
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_LokalTelefon)
            </dd>

            <dt>
                Oluşturulma Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_CreateDate)
            </dd>

        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Cari_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-cari-liste');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-cari-liste-Cari');
        subMenuItem.classList.add('active');
    });
</script>
