@model WebApplication.DataAccess.viewServis

@{ ViewBag.Title = ""; }

<h2>Servis Detayları</h2>

<div>
    <h4>Servis</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Araç Marka / Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGrup_Adi)
            @Html.DisplayFor(model => model.AracMarka_Adi)
            @Html.DisplayFor(model => model.AracModel_Adi)
            @Html.DisplayFor(model => model.Arac_Yil)
        </dd>

        <dt>
            Servis Zamanı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servis_ServisZamani)
        </dd>

        <dt>
            Servis Firması
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServisFirma_Adi)
        </dd>

        <dt>
            Notlar
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servis_Notlar)
        </dd>

        <dt>
            Ücreti
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Servis_Ucreti)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Servis_ID }) |
    @Html.ActionLink("Listeye Geri Dön", "Index")
</p>

,
<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-service');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-service-liste-Servis');
        subMenuItem.classList.add('active');
    });</script>