@using AmicaRent.DataAccess
@model AmicaRent.DataAccess.Servis

@{ ViewBag.Title = "";
    List<ServisFirma> servisFirmalist = ViewBag.ServisFirmalist;


    Dictionary<int, string> aracList = ViewBag.AracList; }

<h2>Servis Düzenleme</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Servis_ID)

        <div class="form-group">
            @Html.LabelFor(model => model.Arac_ID, "Araç Seçiniz", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Arac_ID, new SelectList(aracList, "Key", "Value"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Arac_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Servis_ServisZamani, "Servis Zamanı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Servis_ServisZamani, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Servis_ServisZamani, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ServisFirma_ID, "Servis Firması Seçiniz", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.ServisFirma_ID, new SelectList(servisFirmalist, "ServisFirma_ID", "ServisFirma_Adi"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.ServisFirma_ID, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Servis_Notlar, "Notlar", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Servis_Notlar, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Servis_Notlar, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Servis_Ucreti, "Ücreti", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Servis_Ucreti, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Servis_Ucreti, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Servis_CreateDate, "Oluşturma Zamanı", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Servis_CreateDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Servis_CreateDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Kaydet" class="btn btn-default" />
            </div>
        </div>
    </div>}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-service');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-service-liste-Servis');
        subMenuItem.classList.add('active');
    });
</script>