@model IEnumerable<WebApplication.DataAccess.Servis>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">

    <tr>
        <th>
            Araç Marka/Model
        </th>
        <th>
            Servis Zamanı
        </th>
        <th>
            Servis Firma
        </th>
        <th>
            Notlar
        </th>
        <th>
            Servis Ücreti
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Arac_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Servis_ServisZamani)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_ID)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Servis_Notlar)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Servis_Ucreti)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Servis_CreateDate)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.Servis_ID }) |
        @Html.ActionLink("Detaylar", "Details", new { id = item.Servis_ID }) |

    </td>
</tr>}

</table>
