@using WebApplication.DataAccess
@model WebApplication.DataAccess.Arac

@{
    ViewBag.Title = "Yeni Araç";

    List<AracGrup> aracGrupList = ViewBag.AracGrupList;
    List<AracMarka> aracMarkaList = ViewBag.AracMarkaList;
    List<AracModel> aracModelList = ViewBag.AracModelList;
    List<AracYakitTuru> aracYakitTuruList = ViewBag.AracYakitTuruList;
    Dictionary<string, string> vitesTipi = ViewBag.VitesTipi;
    List<AracKasaTipi> aracKasaTipiList = ViewBag.AracKasaTipiList;
    Dictionary<int, string> aracKlimaDurumu = ViewBag.AracKlimaDurumu;
    List<AracRenk> aracRenkList = ViewBag.AracRenkList;
    Dictionary<int, string> aracKiralamaDurumu = ViewBag.AracKiralamaDurumu;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Araç</h3>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.AracGrup_ID, "Araç Grup", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracGrup_ID, new SelectList(aracGrupList, "AracGrup_ID", "AracGrup_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracGrup_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracMarka_ID,"Araç Marka", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracMarka_ID, new SelectList(aracMarkaList, "AracMarka_ID", "AracMarka_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracMarka_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracModel_ID,"Araç Model", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracModel_ID, new SelectList(aracModelList, "AracModel_ID", "AracModel_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracModel_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arac_Yil, "Araç Yıl", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Arac_Yil, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Arac_Yil, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracYakitTuru_ID, "Araç Yakıt Türü", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracYakitTuru_ID, new SelectList(aracYakitTuruList, "AracYakitTuru_ID", "AracYakitTuru_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracYakitTuru_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arac_VitesTipi, "Araç Vites Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.Arac_VitesTipi, new SelectList(vitesTipi, "Key", "Value"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.Arac_VitesTipi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracKasaTipi_ID, "Kasa Tipi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracKasaTipi_ID, new SelectList(aracKasaTipiList, "AracKasaTipi_ID", "AracKasaTipi_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracKasaTipi_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracKlimaDurumu, "Klima Durumu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracKlimaDurumu, new SelectList(aracKlimaDurumu, "Key", "Value"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracKlimaDurumu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracPlakaNo, "Plaka No", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AracPlakaNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AracPlakaNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracGuncelKM, "Güncel KM.", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AracGuncelKM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AracGuncelKM, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracMotorNo, "Araç Motor No", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AracMotorNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AracMotorNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracSaseNo,"Araç Şase No", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AracSaseNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AracSaseNo, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracRuhsatSeriNo, "Ruhsat Seri No", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.AracRuhsatSeriNo, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.AracRuhsatSeriNo, "", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @Html.LabelFor(model => model.AracRenk_ID, "Araç Renk", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracRenk_ID, new SelectList(aracRenkList, "AracRenk_ID", "AracRenk_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracRenk_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.AracKiralamaDurumu, "Kiralama Durumu", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.AracKiralamaDurumu, new SelectList(aracKiralamaDurumu, "Key", "Value"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.AracKiralamaDurumu, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arac_TrafikSigortasiBitisTarihi, "Trf.Sig.Bit.Tar.", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Arac_TrafikSigortasiBitisTarihi, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Arac_TrafikSigortasiBitisTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arac_KaskoBitisTarihi, "Kasko Bit.Tar.", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Arac_KaskoBitisTarihi, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Arac_KaskoBitisTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arac_KoltukSigortasiBitisTarihi, "Koltuk Sig.Bit.Tar.", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Arac_KoltukSigortasiBitisTarihi, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Arac_KoltukSigortasiBitisTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Arac_FenniMuayeneGecerlilikTarihi, "Fenni Myn.Gec.Tar.", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.Arac_FenniMuayeneGecerlilikTarihi, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Arac_FenniMuayeneGecerlilikTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Onayla</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-arac-tanim');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-arac-tanim-Arac');
        subMenuItem.classList.add('active');
    });
</script>
