@model WebApplication.DataAccess.Arac

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Arac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AracGrup_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGrup_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracMarka_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracMarka_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracModel_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracModel_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_Yil)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_Yil)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracYakitTuru_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracYakitTuru_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_VitesTipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_VitesTipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracKasaTipi_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracKasaTipi_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracKlimaDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracKlimaDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracPlakaNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracPlakaNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracGuncelKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGuncelKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracMotorNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracMotorNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracSaseNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracSaseNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracRuhsatSeriNo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracRuhsatSeriNo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracRenk_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracRenk_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracKiralamaDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracKiralamaDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_TrafikSigortasiBitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_TrafikSigortasiBitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_KaskoBitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_KaskoBitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_KoltukSigortasiBitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_KoltukSigortasiBitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_FenniMuayeneGecerlilikTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_FenniMuayeneGecerlilikTarihi)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#left-sidebar-menu-car');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#left-sidebar-menu-car-Arac');
        subMenuItem.classList.add('active');
    });
</script>