@model WebApplication.DataAccess.viewAracList

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Arac</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Araç Grubu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGrup_Adi)
        </dd>

        <dt>
            Araç Markası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracMarka_Adi)
        </dd>

        <dt>
            Araç Modeli
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracModel_Adi)
        </dd>

        <dt>
            Araç Yılı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_Yil)
        </dd>

        <dt>
            Araç Yakıt Türü
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracYakitTuru_Adi)
        </dd>

        <dt>
            Vites Tipi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_VitesTipi)
        </dd>

        <dt>
            Araç Kasa Tipi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracKasaTipi_Adi)
        </dd>

        <dt>
            Klima Durumu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KlimaDurumu)
        </dd>

        <dt>
            Plaka Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracPlakaNo)
        </dd>

        <dt>
            Güncel KM.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGuncelKM)
        </dd>

        <dt>
            Araç Motor Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracMotorNo)
        </dd>

        <dt>
            Araç Şaşe Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracSaseNo)
        </dd>

        <dt>
            Araç Ruhsat Seri Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracRuhsatSeriNo)
        </dd>

        <dt>
            Araç Renk
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracRenk_Adi)
        </dd>

        <dt>
            Kiralama Durumu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KiralamaDurumu)
        </dd>

        <dt>
            Trafik Sigortası Bitiş Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_TrafikSigortasiBitisTarihi)
        </dd>

        <dt>
            Kasko Bitiş Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_KaskoBitisTarihi)
        </dd>

        <dt>
            Koltuk Sigortası Bitiş Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_KoltukSigortasiBitisTarihi)
        </dd>

        <dt>
            Fenni Muayene Geçerlilik Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_FenniMuayeneGecerlilikTarihi)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Arac_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#left-sidebar-menu-car');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#left-sidebar-menu-car-Arac');
        subMenuItem.classList.add('active');
    });
</script>