@using AmicaRent.DataAccess
@model WebApplication.Models.ViewModels.AracViewModel

@{
    ViewBag.Title = "Düzenle";
    Dictionary<int, string> vitesTipi = new Dictionary<int, string>();
    vitesTipi.Add(1, "OTOMATİK");
    vitesTipi.Add(2, "MANUEL");
    ViewBag.VitesTipi = vitesTipi;
    Dictionary<int, string> aracKlimaDurumu = new Dictionary<int, string>();
    aracKlimaDurumu.Add(1, "Klimalı");
    aracKlimaDurumu.Add(2, "Klimasız");
    ViewBag.AracKlimaDurumu = aracKlimaDurumu;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })


    <div class="row">
        <div class="col-xs-12">

            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">
                        Araç Bilgileri
                    </h3>
                </div>
                <div class="box-body">

                    <div class="row">
                        <div class="col-xs-8">

                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracGrup_ID, htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="col-md-10" id="select2AreaAracGrup">
                                            @Html.HiddenFor(model => model.AracGrup_ID)
                                            @ViewBag.AracGrup <a class='fa fa-edit' title='Düzenle' onclick="CreateSelect2LocalAracGrup(); return true;"></a>
                                            @Html.ValidationMessageFor(model => model.AracGrup_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div> 
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracPlakaNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AracPlakaNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AracPlakaNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div style="clear:both">

                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracMarka_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" id="select2AreaAracMarka">
                                            @Html.HiddenFor(model => model.AracMarka_ID)
                                            @ViewBag.AracMarka <a class='fa fa-edit' title='Düzenle' onclick="CreateSelect2LocalAracMarka(); return true;"></a>
                                            @Html.ValidationMessageFor(model => model.AracMarka_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div> 
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Arac_Yil, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Arac_Yil, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Arac_Yil, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracModel_ID, htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="col-md-10" id="select2AreaAracModel">
                                            @Html.HiddenFor(model => model.AracModel_ID)
                                            @ViewBag.AracModel<a class='fa fa-edit' title='Düzenle' onclick="CreateSelect2LocalAracModel(); return true;"></a>
                                            @Html.ValidationMessageFor(model => model.AracModel_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div style="clear:both">

                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracGuncelKM, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AracGuncelKM, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AracGuncelKM, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div style="clear:both">

                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracMotorNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AracMotorNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AracMotorNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracRenk_ID, htmlAttributes: new { @class = "control-label col-md-2" })
                                        <div class="col-md-10" id="select2AreaAracRenk">
                                            @Html.HiddenFor(model => model.AracRenk_ID)
                                            @ViewBag.AracRenk<a class='fa fa-edit' title='Düzenle' onclick="CreateSelect2LocalAracRenk(); return true;"></a>
                                            @Html.ValidationMessageFor(model => model.AracRenk_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracSaseNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AracSaseNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AracSaseNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">

                                    </div>
                                </div>

                                <div class="col-xs-6">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracRuhsatSeriNo, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.AracRuhsatSeriNo, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.AracRuhsatSeriNo, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-6">

                                </div>
                            </div>



                        </div>

                        <div class="col-xs-4">
                            <div class="row">

                                <div class="col-xs-12" style="margin-top: 8rem;">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracYakitTuru_ID, htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="col-md-10" id="select2AreaAracYakitTuru">
                                            @Html.HiddenFor(model => model.AracYakitTuru_ID)
                                            @ViewBag.AracYakitTuru<a class='fa fa-edit' title='Düzenle' onclick="CreateSelect2LocalAracYakitTuru(); return true;"></a>
                                            @Html.ValidationMessageFor(model => model.AracYakitTuru_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div> 
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Arac_VitesTipi, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.Arac_VitesTipi, new SelectList(vitesTipi, "Key", "Value"), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Arac_VitesTipi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracKasaTipi_ID, htmlAttributes: new { @class = "control-label col-md-2" })

                                        <div class="col-md-10" id="select2AreaAracKasaTipi">
                                            @Html.HiddenFor(model => model.AracKasaTipi_ID)
                                            @ViewBag.AracKasaTipi<a class='fa fa-edit' title='Düzenle' onclick="CreateSelect2LocalAracKasaTipi(); return true;"></a>
                                            @Html.ValidationMessageFor(model => model.AracKasaTipi_ID, "", new { @class = "text-danger" })
                                        </div>
                                    </div> 
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.AracKlimaDurumu, htmlAttributes: new { @class = "control-label" })
                                        @Html.DropDownListFor(model => model.AracKlimaDurumu, new SelectList(aracKlimaDurumu, "Key", "Value"), new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AracKlimaDurumu, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="form-group">
                                        @Html.LabelFor(model => model.Arac_AsimUcreti, htmlAttributes: new { @class = "control-label" })
                                        @Html.EditorFor(model => model.Arac_AsimUcreti, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Arac_AsimUcreti, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12">
            <div class="row">

                <div class="box box-primary">
                    <div class="box-header with-border">
                        <h3 class="box-title">
                            Sigorta Süre Bilgileri
                        </h3>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Arac_TrafikSigortasiBitisTarihi, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.Arac_TrafikSigortasiBitisTarihi, new { htmlAttributes = new { @class = "form-control pull-right datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Arac_TrafikSigortasiBitisTarihi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Arac_KoltukSigortasiBitisTarihi, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.Arac_KoltukSigortasiBitisTarihi, new { htmlAttributes = new { @class = "form-control pull-right datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Arac_KoltukSigortasiBitisTarihi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Arac_KaskoBitisTarihi, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.Arac_KaskoBitisTarihi, new { htmlAttributes = new { @class = "form-control pull-right datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Arac_KaskoBitisTarihi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-6">
                                <div class="form-group">
                                    @Html.LabelFor(model => model.Arac_FenniMuayeneGecerlilikTarihi, htmlAttributes: new { @class = "control-label" })
                                    <div class="input-group date">
                                        <div class="input-group-addon">
                                            <i class="fa fa-calendar"></i>
                                        </div>
                                        @Html.EditorFor(model => model.Arac_FenniMuayeneGecerlilikTarihi, new { htmlAttributes = new { @class = "form-control pull-right datepicker" } })
                                        @Html.ValidationMessageFor(model => model.Arac_FenniMuayeneGecerlilikTarihi, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="box box-primary">
                    <div class="box-footer">
                        <button type="submit" class="btn btn-primary">Onayla</button>
                    </div>
                </div>
            </div>
        </div> 
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön", "Index")
</div>
<style type="text/css">
    .madeHidden {
        display: none;
    }
</style>
<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-arac-tanim');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-arac-tanim-Arac');
        subMenuItem.classList.add('active');

        //makeModelSelect2("#AracModel_ID", "/Root/ModelList", "#AracMarka_ID")
        //makeSelect2("#AracGrup_ID", "/Root/AracGrupList")
        //makeSelect2("#AracMarka_ID", "/Root/AracMarkaList")
        //makeSelect2("#AracRenk_ID", "/Root/AracRenkList")
        //makeSelect2("#AracYakitTuru_ID", "/Root/AracYakitTuruList")
        //makeSelect2("#AracKasaTipi_ID", "/Root/AracKasaTipiList")
        //makeSelect2("#Arac_KrediBankaID", "/Root/BankaList")     
    });

    function CreateSelect2LocalAracGrup() {
        var element = document.getElementById("select2AreaAracGrup");
        element.innerHTML = '<select id="AracGrup_ID" name="AracGrup_ID" class="form-control"></select>';
        makeSelect2("#AracGrup_ID", "/Root/AracGrupList");
    }

    function CreateSelect2LocalAracMarka() {
        var element = document.getElementById("select2AreaAracMarka");
        element.innerHTML = '<select id="AracMarka_ID" name="AracMarka_ID" class="form-control"></select>';
        makeSelect2("#AracMarka_ID", "/Root/AracMarkaList");
    }
    
    function CreateSelect2LocalAracModel() {
        var element = document.getElementById("select2AreaAracModel");
        element.innerHTML = '<select id="AracModel_ID" name="AracModel_ID" class="form-control"></select>';
        makeModelSelect2("#AracModel_ID", "/Root/ModelList", "#AracMarka_ID")
    }

    function CreateSelect2LocalAracRenk() {
        var element = document.getElementById("select2AreaAracRenk");
        element.innerHTML = '<select id="AracRenk_ID" name="AracRenk_ID" class="form-control"></select>';
        makeSelect2("#AracRenk_ID", "/Root/AracRenkList");
    }
    
    function CreateSelect2LocalAracYakitTuru() {
        var element = document.getElementById("select2AreaAracYakitTuru");
        element.innerHTML = '<select id="AracYakitTuru_ID" name="AracYakitTuru_ID" class="form-control"></select>';
        makeSelect2("#AracYakitTuru_ID", "/Root/AracYakitTuruList");
    }

    function CreateSelect2LocalAracKasaTipi() {
        var element = document.getElementById("select2AreaAracKasaTipi");
        element.innerHTML = '<select id="AracKasaTipi_ID" name="AracKasaTipi_ID" class="form-control"></select>';
        makeSelect2("#AracKasaTipi_ID", "/Root/AracKasaTipiList");
    }


</script>
