@model IEnumerable<WebApplication.DataAccess.ServisFirma>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Adres1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Adres2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Tel1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Tel2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Yetkili)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_CreateDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ServisFirma_Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Adres1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Adres2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Tel1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Tel2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Yetkili)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_CreateDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ServisFirma_Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ServisFirma_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ServisFirma_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ServisFirma_ID })
        </td>
    </tr>
}

</table>
