@model IEnumerable<WebApplication.DataAccess.ServisFirma>

@{ ViewBag.Title = "Index"; }

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Firma Adı
        </th>
        <th>
            Adres - 1
        </th>
        <th>
            Adres - 2
        </th>
        <th>
            Telefon - 1
        </th>
        <th>
            Telefon - 2
        </th>
        <th>
            E-Mail
        </th>
        <th>
            Yetkili Adı Soyadı
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_Adi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_Adres1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_Adres2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_Tel1)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_Tel2)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_Email)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_Yetkili)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.ServisFirma_CreateDate)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.ServisFirma_ID }) |
        @Html.ActionLink("Detaylar", "Details", new { id = item.ServisFirma_ID }) |

    </td>
</tr>
}


</table>


<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-service');
        menuItem.classList.add('active');
    var subMenuItem = menuItem.querySelector('#solmenu-service-tanim-ServisFirma');
        subMenuItem.classList.add('active');
    });</script>