@model AmicaRent.DataAccess.EkSurucu

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EkSurucu</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cari_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EkSurucu_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EkSurucu_CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.EkSurucu_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>
