@model IEnumerable<AmicaRent.DataAccess.EkSurucu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Cari_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EkSurucu_CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Cari_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EkSurucu_CreateDate)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.EkSurucu_ID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.EkSurucu_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.EkSurucu_ID })
        </td>
    </tr>
}

</table>
