@model IEnumerable<WebApplication.DataAccess.IslemEkstraHizmetler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Islem_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EkstraHizmetler_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IslemEkstraHizmetler_CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Islem_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EkstraHizmetler_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IslemEkstraHizmetler_CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IslemEkstraHizmetler_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.IslemEkstraHizmetler_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IslemEkstraHizmetler_ID })
        </td>
    </tr>
}

</table>
