@using WebApplication.Extensions
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AmicaRent Araç Kiralama Uygulaması</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")

</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>A</b>mica</span>
                <span class="logo-lg"><b>Amica</b>Rent</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="main-sidebar">
            <section class="sidebar">
                <div class="user-panel">
                    <div class="pull-left image">
                        <img src="~/Admin/dist/img/user.svg" class="img-circle" alt="User Image">
                    </div>
                    <div class="pull-left info">
                        <p>@HttpContext.Current.Session["UserName"]</p>
                    </div>
                </div>
                <ul class="sidebar-menu">
                    <li class="header">MENÜ ADIMLARI</li>
                    <li id="solmenu-anasayfa">
                        <a href="@Url.Action("Index", "Home")">
                            <i class="fa fa-book"></i>
                            <span>Ana Sayfa</span>
                        </a>
                    </li>
                    <li id="solmenu-arac-tanim" class="treeview">
                        <a href="#">
                            <i class="fa fa-car"></i> <span>Araç</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-arac-tanim-Arac"><a href="@Url.Action("Create", "Arac")"><i class="fa fa-briefcase"></i> Araç Tanımlama</a></li>
                            <li id="solmenu-arac-tanim-AracGrup"><a href="@Url.Action("Create", "AracGrup")"><i class="fa fa-object-ungroup"></i> Araç Grup Tanımlama</a></li>
                            <li id="solmenu-arac-tanim-AracKasaTipi"><a href="@Url.Action("Create", "AracKasaTipi")"><i class="fa fa-cab"></i> Araç Kasa Tipi Tanımlama</a></li>
                            <li id="solmenu-arac-tanim-AracMarka"><a href="@Url.Action("Create", "AracMarka")"><i class="fa fa-copyright"></i> Araç Marka Tanımlama</a></li>
                            <li id="solmenu-arac-tanim-AracModel"><a href="@Url.Action("Create", "AracModel")"><i class="fa fa-tag"></i> Araç Model Tanımlama</a></li>
                            <li id="solmenu-arac-tanim-AracRenk"><a href="@Url.Action("Create", "AracRenk")"><i class="fa fa-paint-brush"></i> Araç Renk Tanımlama</a></li>
                            <li id="solmenu-arac-tanim-AracYakitTuru"><a href="@Url.Action("Create", "AracYakitTuru")"><i class="fa fa-map-o"></i> Araç Yakıt Türü Tanımlama</a></li>
                        </ul>
                    </li>
                    <li id="solmenu-arac-liste" class="treeview">
                        <a href="#">
                            <i class="fa fa-indent"></i> <span>Araç Listeleri</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-arac-liste-Arac"><a href="@Url.Action("Index", "Arac")"><i class="fa fa-trophy"></i> Tüm Araç Listesi</a></li>
                            <li id="solmenu-arac-liste-Arac-res"><a href="@Url.Action("Index", "Arac")"><i class="fa fa-subway"></i> Rezervasyon Listesi</a></li>
                            <li id="solmenu-arac-liste-Arac-avab"><a href="@Url.Action("Index", "Arac")"><i class="fa fa-truck"></i> Müsait Araç Listesi</a></li>
                            <li id="solmenu-arac-liste-AracGrup"><a href="@Url.Action("Index", "AracGrup")"><i class="fa fa-minus-square"></i> Araç Grup Listesi</a></li>
                            <li id="solmenu-arac-liste-AracKasaTipi"><a href="@Url.Action("Index", "AracKasaTipi")"><i class="fa fa-bar-chart"></i> Araç Kasa Tipi Listesi</a></li>
                            <li id="solmenu-arac-liste-AracMarka"><a href="@Url.Action("Index", "AracMarka")"><i class="fa fa-line-chart"></i> Araç Marka Listesi</a></li>
                            <li id="solmenu-arac-liste-AracModel"><a href="@Url.Action("Index", "AracModel")"><i class="fa fa-file-text-o"></i> Araç Model Listesi</a></li>
                            <li id="solmenu-arac-liste-AracRenk"><a href="@Url.Action("Index", "AracRenk")"><i class="fa fa-bicycle"></i> Araç Renk Listesi</a></li>
                            <li id="solmenu-arac-liste-AracYakitTuru"><a href="@Url.Action("Index", "AracYakitTuru")"><i class="fa  fa-user-secret"></i> Araç Yakıt Türü Listesi</a></li>
                        </ul>
                    </li>
                    <li id="solmenu-cari-tanim" class="treeview">
                        <a href="#">
                            <i class="fa fa-smile-o"></i> <span>Müşteri</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-cari-tanim-Cari"><a href="@Url.Action("Create", "Cari")"><i class="fa fa-save"></i> Cari Tanımlama</a></li>
                            <li id="solmenu-cari-tanim-CariEhliyet"><a href="@Url.Action("Create", "CariEhliyet")"><i class="fa fa-bell-o"></i> Cari Ehliyet Tanımlama</a></li>
                            <li id="solmenu-cari-tanim-CariSehir"><a href="@Url.Action("Create", "CariSehir")"><i class="fa fa-building"></i> Cari Şehir Tanımlama</a></li>
                            <li id="solmenu-cari-tanim-CariUyruk"><a href="@Url.Action("Create", "CariUyruk")"><i class="fa fa-cubes"></i> Cari Uyruk Tanımlama</a></li>
                        </ul>
                    </li>
                    <li id="solmenu-cari-liste" class="treeview">
                        <a href="#">
                            <i class="fa  fa-male"></i> <span>Müşteri Bilgileri</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-cari-liste-Cari"><a href="@Url.Action("Index", "Cari")"><i class="fa fa-legal"></i> Cari Listesi</a></li>
                            <li id="solmenu-cari-liste-CariEhliyet"><a href="@Url.Action("Index", "CariEhliyet")"><i class="fa fa-life-bouy"></i> Cari Ehliyet Listesi</a></li>
                            <li id="solmenu-cari-liste-CariSehir"><a href="@Url.Action("Index", "CariSehir")"><i class="fa  fa-lightbulb-o"></i> Cari Şehir Listesi</a></li>
                            <li id="solmenu-cari-liste-CariUyruk"><a href="@Url.Action("Index", "CariUyruk")"><i class="fa  fa-magic"></i> Cari Uyruk Listesi</a></li>
                        </ul>
                    </li>
                    <li id="solmenu-operation" class="treeview">
                        <a href="#">
                            <i class="fa  fa-hourglass-half"></i> <span>İşlem</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-operation-liste"><a href="@Url.Action("Index", "Islem")"><i class="fa  fa-location-arrow"></i> Rezervasyon Listesi</a></li>
                            <li id="solmenu-operation-tanim"><a href="@Url.Action("Create", "Islem")"><i class="fa  fa-signal"></i> Kiralama İşlemleri</a></li>
                        </ul>
                    </li>
                    <li id="solmenu-service" class="treeview">
                        <a href="#">
                            <i class="fa fa-ambulance"></i> <span>Servis İşlemleri</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-service-tanim-Servis"><a href="@Url.Action("Create", "Servis")"><i class="fa  fa-fighter-jet"></i> Servis Tanımla</a></li>
                            <li id="solmenu-service-tanim-ServisFirma"><a href="@Url.Action("Create", "ServisFirma")"><i class="fa fa-motorcycle"></i> Servis Firmaları</a></li>
                            <li id="solmenu-service-liste-Servis"><a href="@Url.Action("Index", "Servis")"><i class="fa fa-truck"></i> Yaklaşan Servis Listesi</a></li>
                        </ul>
                    </li>
                    <li id="solmenu-system" class="treeview">
                        <a href="#">
                            <i class="fa fa-spinner"></i> <span>Sistem Değişkenleri</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-system-tanim-OdemeTipi"><a href="@Url.Action("Create", "OdemeTipi")"><i class="fa fa-money"></i> Ödeme Türleri Tanımlama</a></li>
                            <li id="solmenu-system-blank"><a href="#"><i class="fa fa-turkish-lira"></i> Banka Bilgileri Tanımlama</a></li>
                            <li id="solmenu-system-blank"><a href="#"><i class="fa fa-list"></i> Şube Tanımlama</a></li>
                            <li id="solmenu-system-tanim-Kullanici"><a href="@Url.Action("Create", "Kullanici")"><i class="fa fa-user-md"></i> Kullanıcı Tanımlama</a></li>
                            <li id="solmenu-system-liste-Kullanici"><a href="@Url.Action("Index", "Kullanici")"><i class="fa fa-users"></i> Kullanıcı Listesi</a></li>
                        </ul>
                    </li>

                    <li id="solmenu-kasa" class="treeview">
                        <a href="#">
                            <i class="fa fa-gg-circle"></i> <span>Kasa İşlemleri</span> <i class="fa fa-angle-left pull-right"></i>
                        </a>
                        <ul class="treeview-menu">
                            <li id="solmenu-kasa-blank"><a href="#"><i class="fa  fa-area-chart"></i> Günlük Kasa</a></li>
                            <li id="solmenu-kasa-blank"><a href="#"><i class="fa  fa-cc-mastercard"></i> Borç/Alacak Durumu</a></li>
                            <li id="solmenu-kasa-blank"><a href="#"><i class="fa  fa-check-square-o"></i> Araç Kredi İşlemleri</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </aside>
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyrights | Amica Yazılım &copy; 2020 <a href="https://amikasoft.com/">Amika</a>.</strong> Tüm hakları saklıdır.
        </footer>
    </div>

    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/Scripts/Shared/_Layout")
    @Scripts.Render("~/AdminLTE/dist/js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js")
    @RenderSection("scripts", required: false)
</body>
</html>