<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>AmicaRent Araç Kiralama Uygulaması</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">

    @Styles.Render("~/AdminLTE/plugins/font-awesome/css")
    @Styles.Render("~/AdminLTE/plugins/ionicons/css")
    @Styles.Render("~/AdminLTE/bootstrap/css")
    @Styles.Render("~/AdminLTE/dist/css")
    @Styles.Render("~/AdminLTE/dist/css/skins")
    <link href="~/Admin/plugins/datepicker/css/datepicker3.css" rel="stylesheet" />
    <link href="~/Admin/plugins/select2/css/select2.min.css" rel="stylesheet" />
    <style>

        .form-horizontal .control-label, .dl-horizontal dt {
            margin-left: 1rem;
            text-align: left !important;
            min-width: 250px;
            margin-bottom: 1rem;
        }

        .task-button {
            width: 18px;
            height: 18px;
            text-align: center;
            margin-left: 2px !important;
        }
    </style>
</head>
<body class="hold-transition skin-blue sidebar-mini">
    <div class="wrapper">
        <header class="main-header">
            <a href="@Url.Action("Index", "Home")" class="logo">
                <span class="logo-mini"><b>A</b>mica</span>
                <span class="logo-lg"><b>Amica</b>Rent</span>
            </a>
            <nav class="navbar navbar-static-top" role="navigation">
                <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
                    <span class="sr-only">Toggle navigation</span>
                </a>
                <div class="navbar-custom-menu">
                    <ul class="nav navbar-nav">
                        @Html.Partial("_LoginPartial")
                    </ul>
                </div>
            </nav>
        </header>
        @Html.Partial("_LeftMenuPartial")
        <div class="content-wrapper">
            <section class="content-header">
                <h1>
                    @ViewBag.Title
                    <small>@ViewBag.SubTitle</small>
                </h1>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i>@ViewBag.SubTitle</a></li>
                    <li class="active">@ViewBag.Title</li>
                </ol>
            </section>
            <section class="content">
                @RenderBody()
            </section>
        </div>
        <footer class="main-footer">
            <div class="pull-right hidden-xs">
                <b>Version</b> 1.0.0
            </div>
            <strong>Copyrights | Amica Yazılım &copy; 2020 <a href="https://amikasoft.com/">Amika</a>.</strong> Tüm hakları saklıdır.
        </footer>
    </div>

    @Scripts.Render("~/AdminLTE/plugins/jquery/js")
    @RenderSection("menu", required: false)
    @Scripts.Render("~/AdminLTE/bootstrap/js")
    @Scripts.Render("~/AdminLTE/plugins/slimscroll/js")
    @Scripts.Render("~/AdminLTE/plugins/fastclick/js")
    @Scripts.Render("~/AdminLTE/dist/js")
    @Scripts.Render("https://cdnjs.cloudflare.com/ajax/libs/bootbox.js/5.4.0/bootbox.min.js")
    @RenderSection("scripts", required: false)
    <script src="~/Admin/plugins/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/Admin/plugins/datepicker/js/locales/bootstrap-datepicker.tr.js"></script>
    <script src="~/Admin/plugins/select2/js/select2.min.js"></script>
    <script src="~/Admin/plugins/datatables/js/jquery.dataTables.min.js"></script>
    <script src="~/Admin/plugins/datatables/js/dataTables.bootstrap.min.js"></script>

    <script src="~/Scripts/Site.js"></script>
    <script type="text/javascript">
        function afterDatatabled() { }
    </script>
</body>
</html>