@model AmicaRent.DataAccess.OdemeTipi

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>OdemeTipi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.OdemeTipi_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdemeTipi_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OdemeTipi_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdemeTipi_CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.OdemeTipi_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>


<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-system');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-system-tanim-OdemeTipi');
        subMenuItem.classList.add('active');
    });</script>