@model AmicaRent.DataAccess.AracGrup

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AracGrup</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AracGrup_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGrup_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracGrup_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGrup_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracGrup_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGrup_CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.AracGrup_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>

<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
    var menuItem = document.querySelector('#solmenu-arac-liste');
        menuItem.classList.add('active');
    var subMenuItem = menuItem.querySelector('#solmenu-arac-liste-AracGrup');
        subMenuItem.classList.add('active');
    });</script>