@model IEnumerable<WebApplication.DataAccess.AracGrup>

@{ ViewBag.Title = "Araç Grup"; }
<div class="row">
    <div class="col-xs-12">
        <div class="box">
            <div class="box-header">

                <a class="btn btn-app" href="@Url.Action("Create")">
                    <i class="fa fa-plus"></i> Yeni
                </a>
            </div>
            <div class="box-body">
                <table id="AracGrupTable" class="table table-bordered table-striped">
                    <tr>
                        <th>
                            Grup Adı
                        </th>
                        <th>
                            Oluşturma Zamanı
                        </th>
                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.AracGrup_Adi)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.AracGrup_CreateDate)
                            </td>
                            <td>

                                <a class="btn" href="@Url.Action("Düzenle", new { id = item.AracGrup_ID })">
                                    <i class="fa fa-edit"></i>
                                </a>
                                <a class="btn" href="@Url.Action("Detaylar", new { id = item.AracGrup_ID })">
                                    <i class="fa fa-search"></i>
                                </a>
                                <a class="btn" href="#" onclick="deleteConfirm('@Url.Action("delete", new { id = item.AracGrup_ID })'); return false;">
                                    <i class="fa fa-trash"></i>
                                </a>
                            </td>
                        </tr>
                    }

                </table>

            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-arac-liste');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-arac-liste-AracGrup');
        subMenuItem.classList.add('active');
    });</script>