@model WebApplication.DataAccess.Islem

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Islem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Islem_Tipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_Tipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Cari_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Arac_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Arac_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_BaslangicTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_BaslangicTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_BitisTarihi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_BitisTarihi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_IlkKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_IlkKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_SonKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_SonKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_YakitDurumu)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_YakitDurumu)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_TeslimatLokasyonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_TeslimatLokasyonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_IadeLokasyonID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_IadeLokasyonID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_GunlukUcret)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_GunlukUcret)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_GunlukKMSiniri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_GunlukKMSiniri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_ToplamKiralamaUcreti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamKiralamaUcreti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_ToplamKMAsimUcreti)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamKMAsimUcreti)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_ToplamEkstraHizmetler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamEkstraHizmetler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_ToplamValeHizmetleri)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamValeHizmetleri)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_ToplamDigerUcretler)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamDigerUcretler)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_IskontoOrani)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_IskontoOrani)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_TahsilEdilen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_TahsilEdilen)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_KalanBorc)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_KalanBorc)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_Status)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Islem_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_CreateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
