@model WebApplication.DataAccess.viewIslem

@{ ViewBag.Title = "Details"; }

<h2>Details</h2>

<div>
    <h4>Islem</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            İşlem Tipi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IslemTipim)
        </dd>

        <dt>
            Cari Adı Soyadı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari_AdSoyad)
        </dd>

        <dt>
            Araç Marka/Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracGrup_Adi)
            @Html.DisplayFor(model => model.AracMarka_Adi)
            @Html.DisplayFor(model => model.AracModel_Adi)
            @Html.DisplayFor(model => model.Arac_Yil)

        </dd>

        <dt>
            Başlangıç Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_BaslangicTarihi)
        </dd>

        <dt>
            Bitiş Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_BitisTarihi)
        </dd>

        <dt>
            İlk KM.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_IlkKM)
        </dd>

        <dt>
            Son KM.
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_SonKM)
        </dd>

        <dt>
            Yakıt Durumu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_YakitDurumu)
        </dd>

        <dt>
            Teslimat Lokasyonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_TeslimatLokasyonID)
        </dd>

        <dt>
            İade Lokasyonu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_IadeLokasyonID)
        </dd>

        <dt>
            Günlük Ücret
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_GunlukUcret)
        </dd>

        <dt>
            Günlük KM. Sınırı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_GunlukKMSiniri)
        </dd>

        <dt>
            Toplam Kiralama Ücreti
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamKiralamaUcreti)
        </dd>

        <dt>
            KM.Aşım Ücreti
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamKMAsimUcreti)
        </dd>

        <dt>
            Toplam Ekstra Hizmetler
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamEkstraHizmetler)
        </dd>

        <dt>
            Toplam Vale Hizmetleri
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamValeHizmetleri)
        </dd>

        <dt>
            Diğer Ücretler
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ToplamDigerUcretler)
        </dd>

        <dt>
            İskonto Oranı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_IskontoOrani)
        </dd>

        <dt>
            Tahsil Edilen
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_TahsilEdilen)
        </dd>

        <dt>
            Kalan
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_KalanBorc)
        </dd>

        <dt>
            Durumu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_Status)
        </dd>

        <dt>
            Oluşturma Zamanı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Islem_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>

<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-operation');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-operation-liste');
        subMenuItem.classList.add('active');
    });</script>
