@model AmicaRent.DataAccess.Kullanici

@{ ViewBag.Title = "Yeni Kullanici"; }


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    @*<h3 class="box-title">Arac Grup</h3>*@
                </div>

                <div class="box-body">
                    <div class="row">
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Kullanici_TamAdi, "Tam Adı", htmlAttributes: new { @class = "control-label" })
                                @Html.EditorFor(model => model.Kullanici_TamAdi, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Kullanici_TamAdi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Kullanici_Adi, "Kullanıcı Adı", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Kullanici_Adi, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Kullanici_Adi, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-xs-6">
                            <div class="form-group">
                                @Html.LabelFor(model => model.Kullanici_Sifre, "Şifre", htmlAttributes: new { @class = "control-label" })
                                    @Html.EditorFor(model => model.Kullanici_Sifre, new { htmlAttributes = new { @class = "form-control", @type = "password" } })
                                    @Html.ValidationMessageFor(model => model.Kullanici_Sifre, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>




                <div class="box-footer">
                    <button type="submit" class="btn btn-primary">Onayla</button>
                </div>
            </div>
        </div>
    </div>


    }

<div>
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</div>

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        var menuItem = document.querySelector('#solmenu-system');
        menuItem.classList.add('active');
        var subMenuItem = menuItem.querySelector('#solmenu-system-tanim-Kullanici');
        subMenuItem.classList.add('active');
    });
</script>