@model IEnumerable<WebApplication.DataAccess.Kullanici>

@{ ViewBag.Title = "Index"; }

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kullanıcı Tam Adı
        </th>
        <th>
            Kullanıcı Adı
        </th>
        <th>
            Kullanıcı Şifre
        </th>
        <th>
            Son Giriş Zamanı
        </th>
        <th>
            Durumu
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Kullanici_TamAdi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kullanici_Adi)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kullanici_Sifre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kullanici_SonGirisZamani)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kullanici_Status)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Kullanici_CreateDate)
    </td>
    <td>
        @Html.ActionLink("Düzenle", "Edit", new { id = item.Kullanici_ID }) |
        @Html.ActionLink("Detaylar", "Details", new { id = item.Kullanici_ID }) |
        @Html.ActionLink("Rolleri Düzenle", "ManageRole", new { id = item.Kullanici_ID }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.Kullanici_ID })
    </td>
</tr>}

</table>

<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
    var menuItem = document.querySelector('#solmenu-system');
        menuItem.classList.add('active');
    var subMenuItem = menuItem.querySelector('#solmenu-system-liste-Kullanici');
        subMenuItem.classList.add('active');
    });</script>