@{
    var startDays = new List<string>();
    var endDays = new List<string>();
    for (DateTime i = DateTime.Now; i < DateTime.Now.AddMonths(2); i = i.AddDays(1))
    {
        startDays.Add(i.ToString("dd.MM.yyyy"));
        endDays.Add(i.ToString("dd.MM.yyyy"));
    }

    var startTimes = new List<string>();
    var endTimes = new List<string>();
    var n = DateTime.Now;
    var morning = new DateTime(n.Year, n.Month, n.Day, 7, 0, 0);
    var evening = new DateTime(n.Year, n.Month, n.Day, 22, 0, 1);
    for (DateTime i = morning; i < evening; i = i.AddHours(1))
    {
        startTimes.Add(i.ToString("hh:mm"));
        endTimes.Add(i.ToString("hh:mm"));
    }


}
<section class="mainpage">
    @Html.Partial("_Header")

    <div class="container searcharea">
        <div class="row">
            <div class="col-6">
                <span class="slogan">
                    uygun fiyata araç kiralamak ister misiniz?
                </span>
                <h1 class="pr-5 pt-3">
                    Size uygun en iyi kiralık arabayı bulun!
                </h1>
                <a href="#">Araç Listesi</a>
            </div>
            <div class="col-6">
                <form method="POST" action="/araclistesi">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="" class="form-label">Alış Lokasyonu</label>
                                <select name="alisLokasyon" id="alisLokasyon" class="form_select" required>
                                    @{ if (ViewBag.Lokasyonlar != null)
                                        {
                                            foreach (var item in (List<AmicaRent.DataAccess.Lokasyon>)ViewBag.Lokasyonlar)
                                            {
                                                <option value="@item.Lokasyon_ID">@item.Lokasyon_Adi</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="" class="form-label">Dönüş Lokasyonu</label>
                                <select name="donusLokasyon" id="donusLokasyon" class="form_select" required>
                                    @{ if (ViewBag.Lokasyonlar != null)
                                        {
                                            foreach (var item in (List<AmicaRent.DataAccess.Lokasyon>)ViewBag.Lokasyonlar)
                                            {
                                                <option value="@item.Lokasyon_ID">@item.Lokasyon_Adi</option>
                                            }
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="" class="form-label">Alış Tarihi</label>
                                <select name="alisGun" id="alisGun" class="form_select" required>
                                    @{
                                        foreach (var item in startDays)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="" class="form-label">Alış Saati</label>
                                <select name="alisSaat" id="alisSaat" class="form_select" required>
                                    @{
                                        foreach (var item in startTimes)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="" class="form-label">Dönüş Tarihi</label>
                                <select name="donusGun" id="donusGun" class="form_select" required>
                                    @{
                                        foreach (var item in endDays)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="form-group">
                                <label for="" class="form-label">Dönüş Saati</label>
                                <select name="donusSaat" id="donusSaat" class="form_select" required>
                                    @{
                                        foreach (var item in endTimes)
                                        {
                                            <option value="@item">@item</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit">
                                Rezervasyon Yap
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme main_slider">
                    <div class="item">
                        <div class="img">
                            <img src="~/Content/assets/images/slider.jpg">
                        </div>
                        <div class="sub-title">
                            Ücretsiz Teslimat
                        </div>
                        <div class="item-hover">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus accumsan sit amet risus a sodales. Cras aliquam lectus nulla, quis volutpat eros suscipit eget. Suspendisse vel blandit augue, et feugiat magna. Curabitur sollicitudin feugiat neque, ac volutpat dolor laoreet eget.
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="~/Content/assets/images/slider.jpg">
                        </div>
                        <div class="sub-title">
                            Ücretsiz Teslimat
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="~/Content/assets/images/slider.jpg">
                        </div>
                        <div class="sub-title">
                            Ücretsiz Teslimat
                        </div>
                    </div>
                    <div class="item">
                        <div class="img">
                            <img src="~/Content/assets/images/slider.jpg">
                        </div>
                        <div class="sub-title">
                            Ücretsiz Teslimat
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>

<section class="vehicle_list">
    <h2>
        Araç Filomuz
    </h2>
    <h3>
        Tarzınıza uygun aracı seçin ve keyfini sürmeye başlayın.
    </h3>

    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel owl-theme vehicle_slider">
                    <div class="item">
                        <div class="car_area">
                            <div class="discount">
                                -%10
                            </div>
                            <div class="img_area">
                                <img src="~/Content/assets/images/vehicle.png" />
                            </div>
                            <div class="title_area">
                                <div class="title">
                                    Renault Symbol 1.5 DCi Joy
                                </div>
                                <div class="subtitle">
                                    Haftalık fiyatı <em>141.60</em> TL / gün
                                </div>
                            </div>
                            <div class="preview_area">
                                <a href="#">Aracı İncele</a>
                            </div>
                            <div class="feature_area">
                                <div class="row">
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                    </div>
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="reservation_area">
                            <a href="#">rezervasyon yap</a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="car_area">
                            <div class="discount">
                                -%10
                            </div>
                            <div class="img_area">
                                <img src="~/Content/assets/images/vehicle.png" />
                            </div>
                            <div class="title_area">
                                <div class="title">
                                    Renault Symbol 1.5 DCi Joy
                                </div>
                                <div class="subtitle">
                                    Haftalık fiyatı <em>141.60</em> TL / gün
                                </div>
                            </div>
                            <div class="preview_area">
                                <a href="#">Aracı İncele</a>
                            </div>
                            <div class="feature_area">
                                <div class="row">
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                    </div>
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="reservation_area">
                            <a href="#">rezervasyon yap</a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="car_area">
                            <div class="discount">
                                -%10
                            </div>
                            <div class="img_area">
                                <img src="~/Content/assets/images/vehicle.png" />
                            </div>
                            <div class="title_area">
                                <div class="title">
                                    Renault Symbol 1.5 DCi Joy
                                </div>
                                <div class="subtitle">
                                    Haftalık fiyatı <em>141.60</em> TL / gün
                                </div>
                            </div>
                            <div class="preview_area">
                                <a href="#">Aracı İncele</a>
                            </div>
                            <div class="feature_area">
                                <div class="row">
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                    </div>
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="reservation_area">
                            <a href="#">rezervasyon yap</a>
                        </div>
                    </div>

                    <div class="item">
                        <div class="car_area">
                            <div class="discount">
                                -%10
                            </div>
                            <div class="img_area">
                                <img src="~/Content/assets/images/vehicle.png" />
                            </div>
                            <div class="title_area">
                                <div class="title">
                                    Renault Symbol 1.5 DCi Joy
                                </div>
                                <div class="subtitle">
                                    Haftalık fiyatı <em>141.60</em> TL / gün
                                </div>
                            </div>
                            <div class="preview_area">
                                <a href="#">Aracı İncele</a>
                            </div>
                            <div class="feature_area">
                                <div class="row">
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                    </div>
                                    <div class="col-6 pr-0">
                                        <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                    </div>
                                    <div class="col-6 pl-0">
                                        <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <div class="reservation_area">
                            <a href="#">rezervasyon yap</a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>

<section class="main_reservation_detail">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h3>Rezervasyon Detayı</h3>
                <h4>
                    Önceden rezervasyon yaptıysanız e-posta adresiniz ve
                    rezervasyon numaranızla detaylı rezervasyon bilgilerinize
                    ulaşabilirsiniz.
                </h4>

                <form method="POST">
                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <label for="" class="form-label">Rezervasyon Numaranız</label>
                                <input type="text" class="form_control" placeholder="RZV00XXXXX">
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-group">
                                <label for="" class="form-label">E-Posta Adresiniz</label>
                                <input type="email" class="form_control" placeholder="Lütfen e-posta adresinizi yazınız...">
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit">
                                rezervasyonu görüntüle
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>