@model List<AmicaRent.OfficialWeb.Models.AracViewModel>
@{
    var startDays = new List<string>();
    var endDays = new List<string>();
    for (DateTime i = DateTime.Now; i < DateTime.Now.AddMonths(2); i = i.AddDays(1))
    {
        startDays.Add(i.ToString("dd.MM.yyyy"));
        endDays.Add(i.ToString("dd.MM.yyyy"));
    }

    var startTimes = new List<string>();
    var endTimes = new List<string>();
    var n = DateTime.Now;
    var morning = new DateTime(n.Year, n.Month, n.Day, 7, 0, 0);
    var evening = new DateTime(n.Year, n.Month, n.Day, 22, 0, 1);
    for (DateTime i = morning; i < evening; i = i.AddHours(1))
    {
        startTimes.Add(i.ToString("hh:mm"));
        endTimes.Add(i.ToString("hh:mm"));
    }


}
<section class="carlist">
    @Html.Partial("_Header")
    <div class="container">
        <h1>
            Araç Listesi
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>

</section>
<section class="vehicle_list mt-0 pt-0" style="background: none;">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="vehicleslist">
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-6">
                                <div class="car_area">
                                    @if (item.Indirim > 0)
                                    {
                                        <div class="discount">
                                            -%@item.Indirim
                                        </div>
                                    }
                                    <div class="img_area">
                                        <img src="@item.Base64Resim" />
                                    </div>
                                    <div class="title_area">
                                        <div class="title">
                                            @item.MarkaModel
                                        </div>
                                        <div class="subtitle">
                                            Haftalık fiyatı <em>@item.Fiyat.ToString("0.00")</em> TL / gün
                                        </div>
                                    </div>
                                    <div class="preview_area">
                                        <a href="#">Aracı İncele</a>
                                    </div>
                                    <div class="feature_area">
                                        <div class="row">
                                            <div class="col-6 pr-0">
                                                <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">@item.Yil</span>
                                            </div>
                                            <div class="col-6 pl-0">
                                                <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">@item.YakitTuru</span>
                                            </div>
                                            <div class="col-6 pr-0">
                                                <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">@item.VitesTuru</span>
                                            </div>
                                            <div class="col-6 pl-0">
                                                <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">@String.Format("{0:n0}", item.KM)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="reservation_area">
                                    <a href="#">rezervasyon yap</a>
                                </div>
                            </div>

                        }
                        <div class="col-6">
                            <div class="car_area">
                                <div class="discount">
                                    -%10
                                </div>
                                <div class="img_area">
                                    <img src="~/content/assets/images/vehicle.png" />
                                </div>
                                <div class="title_area">
                                    <div class="title">
                                        Renault Symbol 1.5 DCi Joy
                                    </div>
                                    <div class="subtitle">
                                        Haftalık fiyatı <em>141.60</em> TL / gün
                                    </div>
                                </div>
                                <div class="preview_area">
                                    <a href="#">Aracı İncele</a>
                                </div>
                                <div class="feature_area">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                        </div>
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="reservation_area">
                                <a href="#">rezervasyon yap</a>
                            </div>
                        </div>
                        <div class="col-6">
                            <div class="car_area">
                                <div class="discount">
                                    -%10
                                </div>
                                <div class="img_area">
                                    <img src="~/content/assets/images/vehicle.png" />
                                </div>
                                <div class="title_area">
                                    <div class="title">
                                        Renault Symbol 1.5 DCi Joy
                                    </div>
                                    <div class="subtitle">
                                        Haftalık fiyatı <em>141.60</em> TL / gün
                                    </div>
                                </div>
                                <div class="preview_area">
                                    <a href="#">Aracı İncele</a>
                                </div>
                                <div class="feature_area">
                                    <div class="row">
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">2013</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">Dizel</span>
                                        </div>
                                        <div class="col-6 pr-0">
                                            <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">Otomatik</span>
                                        </div>
                                        <div class="col-6 pl-0">
                                            <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">25.000</span>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div class="reservation_area">
                                <a href="#">rezervasyon yap</a>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

            <div class="col-4">
                <div class="saerch_car_area">
                    <h2>
                        kiralık araç bul!
                    </h2>
                    <div class="carlistsearcharea">
                        <form method="POST" action="/araclistesi">

                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Alış Lokasyonu</label>
                                    <select name="alisLokasyon" id="alisLokasyon" class="form_select" required>
                                        @{ if (ViewBag.Lokasyonlar != null)
                                            {
                                                foreach (var item in (List<AmicaRent.DataAccess.Lokasyon>)ViewBag.Lokasyonlar)
                                                {
                                                    <option value="@item.Lokasyon_ID">@item.Lokasyon_Adi</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Dönüş Lokasyonu</label>
                                    <select name="donusLokasyon" id="donusLokasyon" class="form_select" required>
                                        @{ if (ViewBag.Lokasyonlar != null)
                                            {
                                                foreach (var item in (List<AmicaRent.DataAccess.Lokasyon>)ViewBag.Lokasyonlar)
                                                {
                                                    <option value="@item.Lokasyon_ID">@item.Lokasyon_Adi</option>
                                                }
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Alış Tarihi</label>
                                    <select name="alisGun" id="alisGun" class="form_select" required>
                                        @{
                                            foreach (var item in startDays)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Alış Saati</label>
                                    <select name="alisSaat" id="alisSaat" class="form_select" required>
                                        @{
                                            foreach (var item in startTimes)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Dönüş Tarihi</label>
                                    <select name="donusGun" id="donusGun" class="form_select" required>
                                        @{
                                            foreach (var item in endDays)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label for="" class="form-label">Dönüş Saati</label>
                                    <select name="donusSaat" id="donusSaat" class="form_select" required>
                                        @{
                                            foreach (var item in endTimes)
                                            {
                                                <option value="@item">@item</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit">
                                    Filtrele
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>
