@model AmicaRent.OfficialWeb.Models.AracFiltreViewModel

@{
    @*var startDays = new List<string>();
        var endDays = new List<string>();
        for (DateTime i = DateTime.Now; i < DateTime.Now.AddMonths(2); i = i.AddDays(1))
        {
            startDays.Add(i.ToString("dd.MM.yyyy"));
            endDays.Add(i.ToString("dd.MM.yyyy"));
        }

        var startTimes = new List<string>();
        var endTimes = new List<string>();
        var n = DateTime.Now;
        var morning = new DateTime(n.Year, n.Month, n.Day, 7, 0, 0);
        var evening = new DateTime(n.Year, n.Month, n.Day, 22, 0, 1);
        for (DateTime i = morning; i < evening; i = i.AddHours(1))
        {
            startTimes.Add(i.ToString("hh:mm"));
            endTimes.Add(i.ToString("hh:mm"));
        }


        List<AmicaRent.DataAccess.Lokasyon> locationsFromViewBag = ViewBag.Lokasyonlar;
        Dictionary<int, string> locationList = new Dictionary<int, string>();

        foreach (var lokasyon in locationsFromViewBag)
        {
            locationList.Add(lokasyon.Lokasyon_ID, lokasyon.Lokasyon_Adi);
        }*@


    var dayCounts = new Dictionary<int, int>();
    dayCounts.Add(1, 31);
    dayCounts.Add(2, 28);
    dayCounts.Add(3, 31);
    dayCounts.Add(4, 30);
    dayCounts.Add(5, 31);
    dayCounts.Add(6, 30);
    dayCounts.Add(7, 31);
    dayCounts.Add(8, 31);
    dayCounts.Add(9, 30);
    dayCounts.Add(10, 31);
    dayCounts.Add(11, 30);
    dayCounts.Add(12, 31);
    var days = new List<string>();
    for (int i = 1; i <= dayCounts[DateTime.Now.Month]; i++)
    {
        days.Add(i.ToString().PadLeft(2, '0'));
    }
    var months = Enumerable.Range(1, 12).Select(x => x.ToString().PadLeft(2, '0')).ToList();
    var years = Enumerable.Range(DateTime.Now.Year, 5).Select(x => x.ToString()).ToList();


    var startTimes = new List<string>();
    var endTimes = new List<string>();
    var n = DateTime.Now;
    var morning = new DateTime(n.Year, n.Month, n.Day, 7, 0, 0);
    var evening = new DateTime(n.Year, n.Month, n.Day, 22, 0, 1);
    for (DateTime i = morning; i < evening; i = i.AddHours(1))
    {
        startTimes.Add(i.ToString("hh:mm"));
        endTimes.Add(i.ToString("hh:mm"));
    }

    List<AmicaRent.DataAccess.Lokasyon> locationsFromViewBag = ViewBag.Lokasyonlar;
    Dictionary<int, string> locationList = new Dictionary<int, string>();

    foreach (var lokasyon in locationsFromViewBag)
    {
        locationList.Add(lokasyon.Lokasyon_ID, lokasyon.Lokasyon_Adi);
    }

}
<section class="carlist">
    @Html.Partial("_Header")
    <div class="container">
        <h1>
            Araç Listesi
        </h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Library</li>
            </ol>
        </nav>
    </div>

</section>
<section class="vehicle_list mt-0 pt-0" style="background: none;">

    <div class="container">
        <div class="row">
            <div class="col-8">
                <div class="vehicleslist">
                    <div class="row">
                        @foreach (var item in Model.aracList)
                        {
                            <div class="col-6">
                                <div class="car_area">

                                    <div class="img_area">
                                        <img src="@item.Base64Resim" />
                                    </div>
                                    <div class="title_area">
                                        <div class="title">
                                            @item.MarkaModel
                                        </div>
                                        <div class="subtitle">
                                        </div>
                                    </div>
                                    <div class="feature_area">
                                        <div class="row">
                                            <div class="col-6 pr-0">
                                                <span class="col-6 float-left border_bottom">Yıl</span><span class="col-6 float-right border_bottom text-right border_right">@item.Yil</span>
                                            </div>
                                            <div class="col-6 pl-0">
                                                <span class="col-6 float-left border_bottom">Depo</span><span class="col-6 float-right border_bottom text-right">@item.YakitTuru</span>
                                            </div>
                                            <div class="col-6 pr-0">
                                                <span class="col-6 float-left">Vites</span><span class="col-6 float-right border_right">@item.VitesTuru</span>
                                            </div>
                                            <div class="col-6 pl-0">
                                                <span class="col-6 float-left">Kilometre</span><span class="col-6 float-right text-right">@String.Format("{0:n0}", item.KM)</span>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="reservation_area">
                                    <a onclick="reservation(@item.Arac_ID)">rezervasyon yap</a>
                                </div>
                            </div>

                        }
                    </div>
                </div>
            </div>

            <div class="col-4">
                <div class="saerch_car_area">
                    <h2>
                        kiralık araç bul!
                    </h2>
                    <div class="carlistsearcharea">
                        <form method="POST" action="/araclistesi">

                            @*<div class="col-12">
                                    <div class="form-group">
                                        <label for="" class="form-label">Alış Lokasyonu</label>
                                        @Html.DropDownListFor(model => model.alisLokasyon, new SelectList(locationList, "Key", "Value"), new { @class = "form_select" })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="" class="form-label">Dönüş Lokasyonu</label>
                                        @Html.DropDownListFor(model => model.donusLokasyon, new SelectList(locationList, "Key", "Value"), new { @class = "form_select" })
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="" class="form-label">Alış Tarihi</label>
                                        @Html.DropDownListFor(model => model.alisGun, new SelectList(startDays), new { @class = "form_select" })

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="" class="form-label">Alış Saati</label>
                                        @Html.DropDownListFor(model => model.alisSaat, new SelectList(startTimes), new { @class = "form_select" })

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="" class="form-label">Dönüş Tarihi</label>
                                        @Html.DropDownListFor(model => model.donusGun, new SelectList(endDays), new { @class = "form_select" })

                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="form-group">
                                        <label for="" class="form-label">Dönüş Saati</label>
                                        @Html.DropDownListFor(model => model.donusSaat, new SelectList(endTimes), new { @class = "form_select" })

                                    </div>
                                </div>*@
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Alış Lokasyonu</label>
                                    @Html.DropDownListFor(model => model.alisLokasyon, new SelectList(locationList, "Key", "Value"), new { @class = "form_select" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Dönüş Lokasyonu</label>
                                    @Html.DropDownListFor(model => model.donusLokasyon, new SelectList(locationList, "Key", "Value"), new { @class = "form_select" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Alış Tarihi</label>
                                    <div style="display: flex;">
                                        <div style="flex-grow:2">
                                            @Html.DropDownListFor(model => model.alisTarihGun, new SelectList(days), new { @class = "form_select" })
                                        </div>
                                        <div style="flex-grow:2;padding-left: .5em;">
                                            @Html.DropDownListFor(model => model.alisTarihAy, new SelectList(months), new { @class = "form_select" })
                                        </div>
                                        <div style="flex-grow:3;padding-left: .5em;">
                                            @Html.DropDownListFor(model => model.alisTarihYil, new SelectList(years), new { @class = "form_select" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Alış Saati</label>
                                    @Html.DropDownListFor(model => model.alisSaat, new SelectList(startTimes), new { @class = "form_select" })
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Dönüş Tarihi</label>

                                    <div style="display: flex;">
                                        <div style="flex-grow:2">
                                            @Html.DropDownListFor(model => model.donusTarihGun, new SelectList(days), new { @class = "form_select" })
                                        </div>
                                        <div style="flex-grow:2;padding-left: .5em;">
                                            @Html.DropDownListFor(model => model.donusTarihAy, new SelectList(months), new { @class = "form_select" })
                                        </div>
                                        <div style="flex-grow:3;padding-left: .5em;">
                                            @Html.DropDownListFor(model => model.donusTarihYil, new SelectList(years), new { @class = "form_select" })
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-group">
                                    <label class="form-label">Dönüş Saati</label>
                                    @Html.DropDownListFor(model => model.donusSaat, new SelectList(endTimes), new { @class = "form_select" })
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit">
                                    Filtrele
                                </button>
                            </div>

                        </form>
                    </div>

                </div>
            </div>

        </div>
    </div>
</section>


@section ReservationScripts {
    <script type="text/javascript">
        function reservation(aracId) {
            var alisLokasyon = document.getElementById('alisLokasyon').value
            var donusLokasyon = document.getElementById('donusLokasyon').value
            var alisGun = document.getElementById('alisGun').value
            var alisSaat = document.getElementById('alisSaat').value
            var donusGun = document.getElementById('donusGun').value
            var donusSaat = document.getElementById('donusSaat').value

            var opt = `a=${aracId}&al=${alisLokasyon}&dl=${donusLokasyon}&ag=${alisGun}&as=${alisSaat}&dg=${donusGun}&ds=${donusSaat}`;
            var href = `/RezervasyonYap?o=${btoa(opt)}`
            location.href = href
        }
        $('.form_select').on('selectric-select', function (event, element, selectric) {
            if (element.id == "donusTarihAy") {
                const year = $("#donusTarihYil")
                var dayCounts = [
                    { month: 1, dayCount: 31 },
                    { month: 3, dayCount: 31 },
                    { month: 4, dayCount: 30 },
                    { month: 5, dayCount: 31 },
                    { month: 6, dayCount: 30 },
                    { month: 7, dayCount: 31 },
                    { month: 8, dayCount: 31 },
                    { month: 9, dayCount: 30 },
                    { month: 10, dayCount: 31 },
                    { month: 11, dayCount: 30 },
                    { month: 12, dayCount: 31 },
                ]
                if (parseInt(year.val()) % 4 == 0) {
                    dayCounts.push({ month: 2, dayCount: 29 })
                } else {
                    dayCounts.push({ month: 2, dayCount: 28 })
                }

                const monthInt = parseInt(element.value)
                const maxday = dayCounts.find(x => x.monthIndex == monthInt).dayCount
                const day = $("#donusTarihGun")
                let days = day.children()
                let lastDayOnUi = parseInt(days[days.length - 1].value)
                while (maxday < lastDayOnUi) {
                    day.children()[day.children().length - 1].remove()
                    days = day.children()
                    lastDayOnUi = parseInt(days[days.length - 1].value)
                }
                while (maxday > lastDayOnUi) {
                    day.append('<option>' + (lastDayOnUi + 1).toString() + '</option>');
                    days = day.children()
                    lastDayOnUi = parseInt(days[days.length - 1].value)
                }
                day.selectric("init")
            } else if (element.id == "alisTarihAy") {
                const year = $("#alisTarihYil")
                var dayCounts = [
                    { month: 1, dayCount: 31 },
                    { month: 3, dayCount: 31 },
                    { month: 4, dayCount: 30 },
                    { month: 5, dayCount: 31 },
                    { month: 6, dayCount: 30 },
                    { month: 7, dayCount: 31 },
                    { month: 8, dayCount: 31 },
                    { month: 9, dayCount: 30 },
                    { month: 10, dayCount: 31 },
                    { month: 11, dayCount: 30 },
                    { month: 12, dayCount: 31 },
                ]
                if (parseInt(year.val()) % 4 == 0) {
                    dayCounts.push({ month: 2, dayCount: 29 })
                } else {
                    dayCounts.push({ month: 2, dayCount: 28 })
                }
                const monthInt = parseInt(element.value)
                const maxday = dayCounts.find(x => x.month == monthInt).dayCount
                const day = $("#alisTarihGun")
                let days = day.children()
                let lastDayOnUi = parseInt(days[days.length - 1].value)
                while (maxday < lastDayOnUi) {
                    day.children()[day.children().length - 1].remove()
                    days = day.children()
                    lastDayOnUi = parseInt(days[days.length - 1].value)
                }
                while (maxday > lastDayOnUi) {
                    day.append('<option>' + (lastDayOnUi + 1).toString() + '</option>');
                    days = day.children()
                    lastDayOnUi = parseInt(days[days.length - 1].value)
                }
                day.selectric("init")
            }
        });
    </script>
}