@model IEnumerable<WebApplication.DataAccess.KanGrubu>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Kan Grubu Adı
        </th>
        <th>
            Durumu
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KanGrubu_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KanGrubu_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KanGrubu_CreateDate)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.KanGrubu_ID }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.KanGrubu_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.KanGrubu_ID })
            </td>
        </tr>
    }

</table>
