@model WebApplication.Models.ChangePasswordViewModel

@{
    ViewBag.Title = "Şifre Değiştir";
}


@using (Html.BeginForm("ChangePassword", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class='box-body'>
        <div class='row'>
            <div class='form-group'>
                <div class='col-md-12'>
                    <h2>Şifre Değiştir</h2>
                </div>
            </div>
        </div>

        <div class='row'>
            <div class='form-group'>
                <div class='col-md-4'>
                    Eski Şifre
                </div>
                <div class='col-md-8'>
                    @Html.PasswordFor(m => m.OldPassword, new { @class = "form-control", placeholder = "Eski Şifre" })
                    @Html.ValidationMessageFor(m => m.OldPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>        <div class='row'>
            <div class='form-group'>
                <div class='col-md-4'>
                    Yeni Şifre
                </div>
                <div class='col-md-8'>
                    @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Yeni Şifre" })
                    @Html.ValidationMessageFor(m => m.NewPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='form-group'>
                <div class='col-md-4'>
                    Yeni Şifre Onayla
                </div>
                <div class='col-md-8'>
                    @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Yeni Şifre Onayla" })
                    @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class='row'>
            <div class='form-group'>
                <div class='col-md-12'>
                    <button type="submit" class="btn btn-primary">Onayla</button>
                </div>
            </div>
        </div>
    </div>

}