@model WebApplication.DataAccess.AracKasaTipi

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AracKasaTipi</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.AracKasaTipi_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracKasaTipi_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AracKasaTipi_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracKasaTipi_CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.AracKasaTipi_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>
<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
    var menuItem = document.querySelector('#solmenu-arac-liste');
        menuItem.classList.add('active');
    var subMenuItem = menuItem.querySelector('#solmenu-arac-liste-AracKasaTipi');
        subMenuItem.classList.add('active');
    });</script>