@model IEnumerable<AmicaRent.DataAccess.AracMarka>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Marka Adı
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AracMarka_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AracMarka_CreateDate)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.AracMarka_ID }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.AracMarka_ID }) 
            </td>
        </tr>
    }

</table>
<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
    var menuItem = document.querySelector('#solmenu-arac-liste');
        menuItem.classList.add('active');
    var subMenuItem = menuItem.querySelector('#solmenu-arac-liste-AracMarka');
        subMenuItem.classList.add('active');
    });</script>