@model AmicaRent.DataAccess.EhliyetSinif

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>EhliyetSinif</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EhliyetSinif_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EhliyetSinif_Adi)
        </dd>


        <dt>
            @Html.DisplayNameFor(model => model.EhliyetSinif_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EhliyetSinif_CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.EhliyetSinif_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>
