@model IEnumerable<WebApplication.DataAccess.EhliyetSinif>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ehliyet Sınıfı
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EhliyetSinif_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EhliyetSinif_CreateDate)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.EhliyetSinif_ID }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.EhliyetSinif_ID }) 
            </td>
        </tr>
    }

</table>
