@model WebApplication.DataAccess.Lokasyon

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Lokasyon</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Lokasyon_Adi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokasyon_Adi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokasyon_Tipi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokasyon_Tipi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Lokasyon_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Lokasyon_CreateDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.Lokasyon_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>
