@model IEnumerable<WebApplication.DataAccess.Lokasyon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Lokasyon Adı
        </th>
        <th>
            Lokasyon Tipi
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>


    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Lokasyon_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokasyon_Tipi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Lokasyon_CreateDate)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.Lokasyon_ID }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.Lokasyon_ID })
            </td>
        </tr>
    }

</table>
