@model IEnumerable<WebApplication.DataAccess.Lokasyon>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Lokasyon_Adi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokasyon_Tipi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokasyon_Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lokasyon_CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Lokasyon_Adi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lokasyon_Tipi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lokasyon_Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lokasyon_CreateDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Lokasyon_ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.Lokasyon_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Lokasyon_ID })
        </td>
    </tr>
}

</table>
