@model IEnumerable<WebApplication.DataAccess.EkstraHizmetler>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ekstra Hizmet Adı
        </th>
        <th>
            Ücreti
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EkstraHizmetler_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkstraHizmetler_Ucreti)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EkstraHizmetler_CreateDate)
            </td>
            <td>
                @Html.ActionLink("Düzenle", "Edit", new { id = item.EkstraHizmetler_ID }) |
                @Html.ActionLink("Detaylar", "Details", new { id = item.EkstraHizmetler_ID })
            </td>
        </tr>
    }

</table>
