@using WebApplication.DataAccess
@model WebApplication.DataAccess.CariEhliyet

@{
    ViewBag.Title = "Yeni Cari Ehliyet";
    List<EhliyetSinif> ehliyetSinifList = ViewBag.EhliyetSinifList;

    List<KanGrubu> kanGrubuList = ViewBag.KanGrubuList;

    List<Cari> cariList = ViewBag.CariList;

}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title">Cari Ehliyet</h3>
            </div>

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Cari_ID, "Cari Seçiniz", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-9">
                @Html.DropDownListFor(model => model.Cari_ID, new SelectList(cariList, "Cari_ID", "Cari_AdSoyad"), new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Cari_ID, "", new { @class = "text-danger" })
            </div>
        </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CariEhliyet_VerilisTarihi, "Veriliş Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CariEhliyet_VerilisTarihi, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CariEhliyet_VerilisTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CariEhliyet_GecerlilikTarihi, "Geçerlilik Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CariEhliyet_GecerlilikTarihi, new { htmlAttributes = new { @type = "date", @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CariEhliyet_GecerlilikTarihi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CariEhliyet_VerildigiYer, "Verildiği Yer", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CariEhliyet_VerildigiYer, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CariEhliyet_VerildigiYer, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CariEhliyet_DogumYeri, "Doğum Tarihi", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CariEhliyet_DogumYeri, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CariEhliyet_DogumYeri, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.CariEhliyet_EhliyetNumarasi, "Ehliyet Numarası", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.CariEhliyet_EhliyetNumarasi, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.CariEhliyet_EhliyetNumarasi, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.EhliyetSinif_ID, "Ehliyet Sınıfı Seçiniz", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.EhliyetSinif_ID, new SelectList(ehliyetSinifList, "EhliyetSinif_ID", "EhliyetSinif_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.EhliyetSinif_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.KanGrubu_ID, "Kan Grubu Seçiniz", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-9">
                    @Html.DropDownListFor(model => model.KanGrubu_ID, new SelectList(kanGrubuList, "KanGrubu_ID", "KanGrubu_Adi"), new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.KanGrubu_ID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="box-footer">
                <button type="submit" class="btn btn-primary">Onayla</button>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
    var menuItem = document.querySelector('#solmenu-cari-tanim');
        menuItem.classList.add('active');
    var subMenuItem = menuItem.querySelector('#solmenu-cari-tanim-CariEhliyet');
        subMenuItem.classList.add('active');
    });</script>