@model AmicaRent.DataAccess.viewCariEhliyet

@{
    ViewBag.Title = "Cari Ehliyet Detay";
}
 
<div class="form-horizontal">
    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">Araç</h3>
        </div>

        <dl class="dl-horizontal">
            <dt>
                Adı Soyadı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Cari_AdSoyad)
            </dd>

            <dt>
                Veriliş Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VerilisTarihi)
            </dd>

            <dt>
                Geçerlilik Tarihi
            </dt>

            <dd>
                @Html.DisplayFor(model => model.GecerlilikTarihi)
            </dd>

            <dt>
                Doğum Yeri
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CariEhliyet_DogumYeri)
            </dd>

            <dt>
                Ehliyet Numarası
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CariEhliyet_EhliyetNumarasi)
            </dd>

            <dt>
                Ehliyet Sınıfı
            </dt>

            <dd>
                @Html.DisplayFor(model => model.EhliyetSinif_Adi)
            </dd>

            <dt>
                Kan Grubu
            </dt>

            <dd>
                @Html.DisplayFor(model => model.KanGrubu_Adi)
            </dd>
        </dl>
    </div>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.CariEhliyet_ID }) |
    @Html.ActionLink("Listeye Geri Dön ", "Index")
</p>
<script type="text/javascript">document.addEventListener("DOMContentLoaded", function () {
    var menuItem = document.querySelector('#solmenu-cari-liste');
        menuItem.classList.add('active');
    var subMenuItem = menuItem.querySelector('#solmenu-cari-liste-CariEhliyet');
        subMenuItem.classList.add('active');
    });</script>