@model WebApplication.DataAccess.viewCariEhliyet

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CariEhliyet</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Cari Adı Soyadı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cari_AdSoyad)
        </dd>

        <dt>
            Veriliş Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CariEhliyet_VerilisTarihi)
        </dd>

        <dt>
            Geçerlilik Tarihi
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CariEhliyet_GecerlilikTarihi)
        </dd>

        <dt>
            Doğum Yeri
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CariEhliyet_DogumYeri)
        </dd>

        <dt>
            Ehliyet Numarası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CariEhliyet_EhliyetNumarasi)
        </dd>

        <dt>
            Ehliyet Sınıfı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EhliyetSinif_Adi)
        </dd>

        <dt>
            Kan Grubu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.KanGrubu_Adi)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CariEhliyet_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
