@model WebApplication.DataAccess.viewAracModel

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>AracModel</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            Araç Markası
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracMarka_Adi)
        </dd>

        <dt>
            Araç Model
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracModel_Adi)
        </dd>

        <dt>
            Araç Model Durumu
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracModel_Status)
        </dd>

        <dt>
            Oluşturma Zamanı
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AracModel_CreateDate)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.AracModel_ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
