@model IEnumerable<WebApplication.DataAccess.viewAracModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Araç Marka
        </th>
        <th>
            Araç Model
        </th>
        <th>
            Araç Model Durumu
        </th>
        <th>
            Oluşturma Zamanı
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AracMarka_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AracModel_Adi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AracModel_Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AracModel_CreateDate)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.AracModel_ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.AracModel_ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.AracModel_ID })
            </td>
        </tr>
    }

</table>
