@model WebApplication.DataAccess.IslemTahsilat

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>IslemTahsilat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Islem_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Islem_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IslemTahsilat_Tarih)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IslemTahsilat_Tarih)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IslemTahsilat_Aciklama)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IslemTahsilat_Aciklama)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OdemeTipi_ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OdemeTipi_ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IslemTahsilat_Tutar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IslemTahsilat_Tutar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IslemTahsilat_CreateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IslemTahsilat_CreateDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
