@model IEnumerable<WebApplication.DataAccess.IslemTahsilat>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Islem_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IslemTahsilat_Tarih)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IslemTahsilat_Aciklama)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OdemeTipi_ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IslemTahsilat_Tutar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IslemTahsilat_CreateDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Islem_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IslemTahsilat_Tarih)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IslemTahsilat_Aciklama)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OdemeTipi_ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IslemTahsilat_Tutar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IslemTahsilat_CreateDate)
        </td>
        <td>
            @Html.ActionLink("Düzenle", "Edit", new { id=item.IslemTahsilat_ID }) |
            @Html.ActionLink("Detaylar", "Details", new { id=item.IslemTahsilat_ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IslemTahsilat_ID })
        </td>
    </tr>
}

</table>
